/* .card{
    width: 60% !important;
    margin: 2% auto;
} */

.category {
  color: #76787a;
  font-size: 1.2rem;
  font-weight: bold !important;
}
.MuiChip-root {
  background-color: #eeeeee;
}
.basic-single {
  width: 85%;
}
.CardTable {
  margin: 2% 0 !important;
  width:85% !important;
}
