.avatar {
  width: 80px;
}
.avatar img,
.avatar span {
  width: 80px !important;
  height: 80px;
  max-width: 80px !important;
}
.gradient {
  background: linear-gradient(135deg, #acb6e5, #86fde8);
  color: #fff !important;
}
.kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content .kt-widget__head .kt-widget__username {
  font-size: 2.2rem;
  color: #ffffff;
  font-weight: 700;
}
.kt-widget.kt-widget--user-profile-3 .kt-widget__top .kt-widget__content {
  color: #fff;
}
