.transform-header {
  transform: rotate(90deg);
}
.table th {
  vertical-align: middle !important ;
  text-align: center;
}
.desc-questions {
  color: #77787b;
  font-size: 1.1rem;
}

.question {
  font-size: 0.9rem;
}
.table-row > tr:nth-child(1) {
  background-color: #6cbe45;
}
.table-row > tr:nth-child(2) {
  background-color: #acd591;
}

.table-row > tr:nth-child(1) {
  background-color: #fbad18;
}

.table-row > tr:nth-child(1) {
  background-color: #ffcd7e;
}
