.transform-header {
  transform: rotate(90deg);
}
.table th {
  vertical-align: middle !important ;
  text-align: center;
}
.desc-questions {
  color: #77787b;
  font-weight: 500;
  font-size: 1.1rem;
}

.question {
  font-size: 0.9rem;
}
.table-dark-0 {
  background-color: #6cbe45;
}
.table-dark-1 {
  background-color: #acd591;
}

.table-dark-2 {
  background-color: #fbad18;
}

.table-dark-3 {
  background-color: #ffcd7e;
}
