.kt-grid-nav > .kt-grid-nav__row > .kt-grid-nav__item {
  padding: 2rem 1rem;
}
.kt-grid-nav .kt-grid-nav__row .kt-grid-nav__item .kt-grid-nav__title {
  color: #607d8b;
}
.kt-section .kt-section__content.kt-section__content--border {
  border: 2px solid #ebedf2;
}
