.average1 {
  color: #ed145a;
}
.average2 {
  color: #f15d5d;
}
.average3 {
  color: #fdb740;
}

.average4 {
  color: #97cd78;
}

.average5 {
  color: #12b259;
}
.average-bold {
  font-weight: 600 !important;
}
