@import "../../../assets/css/dk-brand.less";

// svg.kt-svg-icon g [fill] {
//   fill: @dk-blue;
// }
.icon-red g [fill] {
  fill: @dk-red;
}

.icon-yellow g [fill] {
  fill: @dk-yellow;
}

.icon-blue g [fill] {
  fill: @dk-blue;
}
