.average1 {
  color: #ed145a;
}
.average2 {
  color: #f15d5d;
}
.average3 {
  color: #fdb740;
}

.average4 {
  color: #97cd78;
}

.average5 {
  color: #12b259;
}

.averageBackground1 {
  background-color: #ed145a;
}
.averageBackground2 {
  background-color: #f15d5d;
}
.averageBackground3 {
  background-color: #fdb740;
}

.averageBackground4 {
  background-color: #97cd78;
}

.averageBackground5 {
  background-color: #12b259;
}

.average-bold {
  font-weight: 600 !important;
}

.none-thead {
  background: #fff !important;
  border-color: #fff !important;
}

.legend-container {
  padding-left: 18%;
  padding-right: 0%;
}

.legend {
  color: #fff;
}
.legend .col-6 {
  text-align: center;
  font-weight: 100;
  line-height: 2rem;
  font-size: 0.8rem;
}

.hidden-row {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.show-row {
  display: table-row;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.grow {
  transition: all 0.3s ease-in-out;
}
.grow:hover {
  transform: scaleY(1.05);
}

.title-link {
  font-weight: 500 !important;
  color: #0e435d !important;
  line-height: 24px;
  cursor: pointer;
}

.showmore {
  cursor: pointer;
  padding: 40px 0;
  line-height: 40px;
  margin-top: -10px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #fff));
}
.seeMore {
  padding: 0;
  height: 41px;
  color: gray;
  text-align: center;
  background: repeating-linear-gradient(white, #ecefef 5px, #ecefef 5px, #ecefef 6px);
  border-bottom: none;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.16) inset;
  overflow: hidden;
  cursor: pointer;
  transition: 500ms;
}
.seeMore > span {
  font-size: 11px;
  line-height: 29px;
  padding: 5px 8px;
  background: white;
  border-radius: 2px 2px 0 0;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), 0 1px white; */
}

/*****************styles for fixing heatmap header*******************************************************/

.heatmap-table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
.heatmap-table > th,
td {
  padding: 0.25rem;
}

.heatmap-header {
  position: sticky;
  top: 0;
  color: #ffffff !important;
  background-color: #636466;
}
