.avatar {
  width: 80px;
}
.avatar img,
.avatar span {
  width: 80px !important;
  height: 80px;
  max-width: 80px !important;
}
.gradient {
  background: linear-gradient(135deg, #acb6e5, #86fde8);
  color: #fff !important;
}
