.Image {
  border-radius: 50% !important;
  margin-top: -6%;
  max-width: 10%;
  height: auto;
  margin-left: 45%;
}
.Container {
  background-color: white;
  margin-top: 10% !important;
}
.table {
  width: 90% !important;
  margin: 1% auto !important;
}
