@dk-red: #ef5661;
@dk-red-alpha: #ef56611a;
@dk-blue: #19bfd3;
@dk-grey: #636466;
.btn-brand {
  color: #fff !important;
  background-color: @dk-red!important;
  border-color: @dk-red!important;
}

.btn-brand-hover {
  color: @dk-red!important;
  background-color: @dk-red-alpha!important;
  border-color: @dk-red-alpha!important;
}

.btn-brand-hover.active,
.btn-brand-hover:active,
.btn-brand-hover:hover {
  color: #ffffff !important;
  background-color: @dk-red!important;
  border-color: @dk-red!important;
}

.dk-username {
  font-weight: 500;
  font-size: 1.1rem;
  color: #595d6e;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.dk-brand-blue {
  color: #ffffff !important;
  background-color: @dk-blue!important;
}
.dk-brand-grey {
  color: #ffffff !important;
  background-color: @dk-grey!important;
}
.dk-brand-red {
  color: #ffffff !important;
  background-color: @dk-red!important;
}
