@dk-red: #ef5661;
@dk-red-alpha: #ef56611a;

.btn-brand {
  color: #fff !important;
  background-color: @dk-red!important;
}

.btn-brand-hover {
  color: @dk-red!important;
  background-color: @dk-red-alpha!important;
}
.btn-brand-hover.active,
.btn-brand-hover:active,
.btn-brand-hover:hover {
  color: #ffffff !important;
  background-color: @dk-red!important;
  border-color: @dk-red!important;
}
