.Image {
  border-radius: 50% !important;
  max-width: 14%;
  height: auto;
  margin: -8% auto 0;
  display: block;
}
.Container {
  background-color: white;
  margin-top: 10% !important;
}

.li-class {
  display: block;
  direction: rtl;
  list-style: none;
  text-align: right;
  font-weight: 600;
}
.ul-class {
  direction: rtl;
  text-align: right;
}
.question-row {
  text-align: right;
  display: block !important;
}
.slider {
  width: 85% !important;
  margin: 4% auto;
}
.MuiSlider-markLabel {
  font-family: "iransans" !important;
}
.slider-Style {
  text-align: center !important;
  margin: 0 auto;
  width: 75%;
}
.buttons {
  text-align: right;
  margin: 2%;
}
.MuiSlider-markLabel {
  white-space: pre !important;
}
.Cat1 {
  border-right: 2px solid #1dc9b7 !important;
}
.Cat2 {
  border-right: 2px solid #ffb822 !important;
}
.Cat3 {
  border-right: 2px solid #591df1 !important;
}
.badge {
  font-size: 1.5rem;
  font-weight: 600;
  width: 363px;
  height: 36px;
  margin-top: -6%;
}
.pointer {
  cursor: pointer;
}
.textarea {
  width: 100% !important;
  background: #fff !important;
}
