.Image {
  border-radius: 50% !important;
  margin-top: -6%;
  max-width: 10%;
  height: auto;
  margin-left: 45%;
}
.Container {
  background-color: white;
  margin-top: 10% !important;
}

.li-class {
  display: block;
  direction: rtl;
  list-style: none;
  text-align: right;
}
.ul-class {
  direction: rtl;
  text-align: right;
}
.row {
  text-align: right;
  display: flex !important;
}
.slider {
  width: 85% !important;
  margin: 4% auto;
}
.MuiSlider-markLabel {
  font-family: "iransans" !important;
}
.slider-Style {
  text-align: center !important;
}
