.Image {
  border-radius: 50% !important;
  margin-top: -6%;
  max-width: 10%;
  height: auto;
  margin-left: 45%;
}
.Container {
  background-color: white;
  margin-top: 10% !important;
}

.li-class {
  display: block;
  direction: rtl;
  list-style: none;
  text-align: right;
}
.ul-class {
  direction: rtl;
  text-align: right;
}
.question-row {
  text-align: right;
  display: block !important;
}
.slider {
  width: 85% !important;
  margin: 4% auto;
}
.MuiSlider-markLabel {
  font-family: "iransans" !important;
}
.slider-Style {
  text-align: center !important;
}
.buttons {
  text-align: right;
  margin: 2%;
}
.MuiSlider-markLabel {
  white-space: pre !important;
}
.Cat1 {
  border-right: 2px solid yellow;
}
.Cat2 {
  border-right: 2px solid red;
}
.Cat3 {
  border-right: 2px solid green;
}
