.bg-header {
  background: url(https://aura.digikala.com/SiteAssets/Digikala%20Pattern%20Background/eeww-06.jpg);
  background-repeat: no-repeat;
  background-size: inherit;
  height: 299px;
  background-position: right;
}
