.header {
  color: #fff;
  font-weight: 500;
  margin-top: 3%;
  font-size: 1.2rem;
}
.summary-height {
  height: 390px !important;
}
.kt-iconbox--animate-slower:after {
  bottom: 40% !important;
}

.kt-iconbox--brand.kt-iconbox--animate,
.kt-iconbox--brand.kt-iconbox--animate-fast,
.kt-iconbox--brand.kt-iconbox--animate-faster,
.kt-iconbox--brand.kt-iconbox--animate-slow,
.kt-iconbox--brand.kt-iconbox--animate-slower {
  background-color: rgba(7, 11, 13, 0.07) !important;
}
.kt-portlet__head {
  z-index: 2 !important;
}
