.total {
  background-image: radial-gradient(circle farthest-corner at 10.6% 22.1%, #77787b 0%, #dedfe0 100.7%);
  color: #000;
  font-weight: 700;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  font-size: 1rem;
}
