.head {
  font-size: 1.2rem;
  text-align: left;
  font-weight: 500;
}
.sub-head {
  font-size: 0.9rem;
  text-align: left;
  text-align: left;
}

.dashboard-img {
  border-radius: 8px;
  float: left;
  background-color: #f27581;
  padding: 18px;
  color: white;
  font-weight: 600;
}
