/* .card{
    width: 60% !important;
    margin: 2% auto;
} */

.category {
  color: #76787a;
  font-size: 1.7rem;
  font-weight: 300 !important;
  margin: 30px 0 15px;
}
.MuiChip-root {
  background-color: #eeeeee;
}
.basic-single {
  width: 80%;
}
.Card {
  margin: 2% 0;
  width: 90%;
}
.table {
  margin-bottom: 0;
}
.inline-items {
  display: flex !important;
}
