.intro {
  white-space: pre !important;
  text-align: right;
  width: 95%;
  margin: 1% 1%;
  direction: rtl;
}
.intro-card {
  margin: 2% auto;
  width: 90%;
}
.CardTable {
  width: 50%;
  margin: 1% 46%;
  direction: rtl;
}
.completed {
  color: #acd591 !important;
}
.not-completed {
  color: #f3736c !important;
}
.complete-progress > div {
  background-color: #00ac4e !important;
  border-radius: 30px;
}
.not-completed-progress > div {
  background-color: #ffc107 !important;
  border-radius: 30px;
}
.MuiLinearProgress-colorPrimary {
  background-color: #dedfe0 !important;
  border-radius: 30px;
}
.user-img {
  border-radius: 50%;
  width: 22%;
  margin-left: 3%;
}
tbody > tr {
  border: red !important;
}
.Relation {
  font-weight: 300;
  color: #77787b;
  margin: -4% 25% 0 0;
}
.show-item {
  font-size: 1rem;
  font-weight: 300;
  padding: 2px 25px;
  width: 100%;
  background-color: #dedfe0 !important;
  color: #f37a8a;
  margin-top: 10%;
}
.show-item:hover {
  background-color: #f37a8a !important;
  color: #dedfe0;
}
