.intro {
  white-space: pre !important;
  text-align: right;
  width: 95%;
  margin: 1% 1%;
  direction: rtl;
}
.intro-card {
  margin: 2% auto;
  width: 90%;
}
.CardTable {
  width: 90%;
  margin: 1% auto;
  direction: rtl;
}
.completed {
  color: #acd591 !important;
}
.not-completed {
  color: #f3736c !important;
}
.complete-progress > div {
  background-color: #00ac4e !important;
  border-radius: 30px;
}
.not-completed-progress > div {
  background-color: #ffc107 !important;
  border-radius: 30px;
}
.MuiLinearProgress-colorPrimary {
  background-color: #dedfe0 !important;
  border-radius: 30px;
}
.user-img {
  border-radius: 50%;
  width: 13%;
  margin-left: 3%;
}
